__pycache__/
*.py[cod]

venv/

db.sqlite3

*/migrations/*.py
*/migrations/*.pyc
*/migrations/__pycache__/

/staticfiles/


/media/

*.swp
*.swo
*.sublime-project
*.sublime-workspace
.vscode/
.idea/



.coverage
htmlcov/
*.cover

.ipynb_checkpoints/

*.log

*.xml
*.cover

.cache/
